
@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Content/pages/Product.js"></script>
<input type="hidden" value="@ViewBag.CategoryId" id="hdnCategoryId" />


<style>

    @@media (max-width: 767px) {
        .col-sm-3 {
            width: 50%;
        }

        .ProductImage {
            width: 100px;
            height: 100px;
            border: 10px solid deeppink;
            border-radius: 50%;
        }

        .ProductName {
            color: deeppink;
            font-weight: bold;
            font-size: 15px;
        }

        .ProductPrice {
            color: black;
            font-size: 15px;
            font-weight: normal
        }

        .btn-buy-now {
            padding: 7px;
            font-size: 12px;
            margin-top: 12px;
        }

        .MainContainer {
            margin-top: 110px;
        }
    }

    @@media (min-width: 768px) {


        .ProductImage {
            width: 150px;
            height: 150px;
            border: 15px solid deeppink;
            border-radius: 50%;
        }

        .ProductName {
            color: deeppink;
            font-weight: bold;
            font-size: 20px;
        }

        .ProductPrice {
            color: black;
            font-size: 20px;
            font-weight: normal
        }

        .btn-buy-now {
            margin-top: 24px;
        }

        .MainContainer {
            margin-top: 200px;
        }
    }

    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        margin-right: auto;
        margin-left: auto;
    }
</style>


<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 20px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Product</h1>
    </div>

</div>
<!-- Header End -->

<div class="container">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <div class="row">
                <div class="search">
                    <input type="text" id="find" class="form-control p-4" style="border-radius: 50px; max-width: 100%" placeholder="Enter a Keyword" onkeyup="Search()">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Classic Cakes</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row" id="tblProductbyCategoryId">

        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" onclick="window.location.href = 'SeeMoreProducts'">Browse More</button>
    </div>

</div>







<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button"  class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Premium Cakes</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Extra Premium Cakes</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Pastry</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Custom Cakes</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>



<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Chocolate Shake</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>









<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Flavour Shake</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>








<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Cold Coffee</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Hot Coffee</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>




<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Pizza</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>



<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Vada Pav</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Fries</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>


<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Burger</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>






<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Momos</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>





<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Sandwich</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>







<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Bread</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>









<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Pav</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>











<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Khari</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>









<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Toasts</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>









<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Cookies-1</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>












<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Cookies-2</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>








<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Muffins</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>








<div class="container pt-4">
    <div class="card shadow-lg mb-5 bg-body-tertiary" style="border-radius:50px;">
        <div class="card-body">
            <h2 class="position-relative text-center" style="color:deeppink">Deserts</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <div class="mx-auto text-center ProductImage">
                            <img src="~/Content/User/img/bakery9.jpeg" class="rounded-circle img-fluid w-100 h-100 mb-2" style="object-fit:cover;" />
                        </div>
                        <div class="text-center">
                            <div class="ProductName">Butterscotch</div>
                            <div class="badge rounded-pill bg-warning mt-2 ProductPrice">₹ 250 </div> <br />
                            <button type="button" class="btn btn-outline-warning btn-buy-now">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto d-flex justify-content-center pb-4">
        <button type="button" class="btn btn-outline-warning" style="" onclick="window.location.href = 'https://www.google.com/'">Browse More</button>
    </div>

</div>

