
@{
    ViewBag.Title = "FranchiseIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 20px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Franchise</h1>
        @*<div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Franchise</p>
        </div>*@
    </div>
</div>
<!-- Header End -->
<!-- Contact Start -->

<div class="row justify-content-center">
    <div class="col-lg-6">
        <h1 class="section-title position-relative text-center mb-5">Join Us</h1>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="card" style="max-width:850px; padding:30px;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="First Name" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-6">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="Last Name" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-4">
                    <input type="email" style="max-width:100%" class="form-control p-4" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-4">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="Occupation" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-4">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="Networth" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-6">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="Liquid Asset" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-6">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="Area of Development Interest" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-4">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="City" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-4">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="State" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-4">
                    <input type="text" style="max-width:100%" class="form-control p-4" id="name" placeholder="Zip Code" required="required" data-validation-required-message="Please enter your name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-12">
                    <textarea style="max-width:100%" class="form-control p-4" id="name" required="required" data-validation-required-message="Please enter your name" placeholder="Please enter your Address"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly">
                <button class="btn btn-primary py-2 px-5" type="submit" id="sendMessageButton">Submit</button>
                <button class="btn btn-primary py-2 px-5" type="reset" id="sendMessageButton">Reset</button>
            </div>

        </div>
    </div>
</div>